@import "./font.css";

.footer_text{
    font-family: IRANSans;
    color: rgba(54, 54, 54);
    font-size: medium;
}

.footer_bar{
    /*left: 0;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*position: relative;*/
    /*z-index: 0;*/
    
    width: 100%;
    height: 60px;
    /*margin-top: -60px;*/
    text-align: center;
}
