@import "./font.css";

#root {
    padding-top: 70px;
}

.header_text{
    font-family: IRANSans;
    color: #000;
    font-size: small;
    margin-left: 20px;
}

.logo{
    height: 60px;
}

.header_bar{
    height: 60px;
}