.frame {
    background-color: white;
    z-index: 100;
    border-radius: 3px;
}

.grayframe {
    background-color: rgb(250,250,250);
    z-index: 100;
    border-radius: 3px;
}

.frame:hover{
    box-shadow: 2px 3px 30px lightgrey;
}

.projectCard-image {
    width: 140%;
    height: 80%;
    margin-top: 15%;
    border-radius: 2px;
}

.with-margin {
    margin-bottom: 15px;
}

.project-budget-alter-text {
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 116, 126);
}

.project-name-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1vh;
}

.project-desc-text {
    font-size: 13px;
    margin-bottom: 1vh;
}

.project-list-text {
    margin-top: 14px;
    list-style-type: none;
    direction:rtl;
    text-align: right;
}

.skill-text {
    margin-left: 12px;
    color: rgb(153, 153, 153);
    font-size: 15px;
    margin-top: 2px;
}