.frame {
    background-color: white;
    z-index: 100;
    border-radius: 3px;
}

.frame:hover{
    box-shadow: 2px 3px 30px lightgrey;
}

.userCard-image {
    width: 140%;
    height: 80%;
    margin-top: 15%;
    border-radius: 2px;
}

.userwith-margin {
    margin-bottom: 5px;
}

.user-name-text {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1vh;
}

.user-desc-text {
    font-size: 10px;
    margin-bottom: 1vh;
}

.user-list-text {
    margin-top: 14px;
    list-style-type: none;
    direction:rtl;
    text-align: right;
}