.top-element {
    padding-top: 70px;
}

.ltr-dir {
    direction: ltr;
}

.main {
    min-height: calc(100vh);
}

.error {
    border: 1px lightcoral solid;
}

.success {
    border: 1px lightgreen solid;
}