.sky-blue-bar{
    background-color: rgb(195, 237, 241);
    height: 160px;
    box-shadow: inset 0px -1px 5px rgba(0,0,0,0.2) ;
}

.white-main-form {
    background-color: white;
    margin-top: -50px;
    height: 525px;
    border-radius: 9px;
    box-shadow: 2px 3px 30px lightgrey;
    z-index: 100;
}

.gray-bar {
    background-color: #f9f9f9;
}