@import "../../components/font.css";

main{
    min-height: calc(100vh - 60px - 60px);
}

.blue_bar{
    background-color: rgb(185, 239, 242);
    height: 230px;
    z-index: -2;
}

.white_bar{
    background-color: #f9f9f9;
}

.user_image_profile{
    width: 190px;
    height: 190px;
    margin-top: -100px;
    border-color: white;
    border-radius: 12px;
    border: 8px solid white;
    z-index: -1;
}

.name_text{
    margin-top: 20px;
    font-family: IRANSans;
    list-style-type: none;
    direction:rtl;
    text-align: right;
}

.full_name{
    font-size: xx-large;
}

.nickname{
    font-size: large;
}

.description{
    font-family: IRANSans;
    list-style-type: none;
}

.description_text{
    direction:rtl;
    text-align: right;
    text-align: justify;
    text-justify: inter-word;
}

.description_skills{
    font-family: IRANSans;
    /*font-size: small;*/
}

.selection{
    float: right;
    /*margin-top: 20px;*/
}

.border_on_profile_pic{
    height: 25px;
    width: 100px;
    margin-top: -28px;
    background-color: rgb(185, 239, 242)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
    /*margin-top: 100px;*/
    transform: skew(-30deg,0deg);
}